:root {
    --white: #fff;
    --blue: #0d376f;
    --borderColor: #fa6400;
    --boxBg: #D8D8D8;
    --tYellow: #EEA800;
    --baseBgColor: #0F283D;
    --grayLight: #F9F9F9;
    --purple: #E5237F;
    --darkBlue: #121830;
    --lightText: #9BA5CA;
    --productsBg: #F2F4F8;
    --footerTitleColor: #9DA5CC;
    --titleSize: 3em;
    --smallTextSize: 22px;
    --linkSize: 1em;
    --paddingSize: 120px;
    --fSize25: 25px;
    --fSize35: 35px;
    --fSize14: 14px;
    --fSize18: 18px;
    --fSize45: 45px;
}