/* GothamRounded font-family */
$RoundedBold: 'GothamRounded-Bold';
$RoundedLight: 'GothamRounded-Light';
$RoundedMedium: 'GothamRounded-Medium';
/* santral font-family */
$SantralBold: 'Santral-Bold', sans-serif;
$SantralLight: 'Santral-Light', sans-serif;
$SantralMedium: 'Santral-Medium', sans-serif;
$SantralSemiBold: 'Santral-SemiBold', sans-serif;