.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 1em;
  max-width: 100%;
  width: calc(100% - 2em);
  vertical-align: top;
}

.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 100%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  color: #aaa;
  font-weight: 400;
  -webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
  outline: none;
}

.input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 100%;
  color: #696969;
  font-family: $SantralMedium;
  font-weight: bold;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
}

.graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
}

.icon {
  color: #ddd;
  font-size: 150%;
}
.input--chisato {
  padding-top: 1em;
}
textarea{
  font-family: $SantralMedium;
}
button{
  padding: 15px 25px;
  margin-left: 18px;
  margin-top: 20px;
  @include animates(500ms);
  background: transparent;
  border: 1px solid var(--green);
  color: var(--green);
  font-size: var(--linkSize);
  @include radius(6px);
  font-family: $SantralMedium;
  span{
    transition: 500ms margin-left;
    margin-left: 10px;
  }
  &:hover{
    background: var(--green);
    color: var(--white);
    span{
      margin-left: 17px;
    }
  }
}
.input__field--chisato {
  width: 100%;
  padding: 1.4em 0.5em;
  background: transparent;
  border: 1px solid;
  color: var(--lineColor);
  @include radius(6px);
  -webkit-transition: border-color 0.25s;
  transition: border-color 0.25s;
}

.input__label--chisato {
  width: 100%;
  position: absolute;
  top: -5px;
  text-align: left;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  -webkit-transform: translate3d(0, 3em, 0);
  transform: translate3d(0, 3em, 0);
}

.input__label-content--chisato {
  padding: 0 1em;
  font-weight: 400;
  color: #b5b5b5;
}

.input__label-content--chisato::after {
  content: attr(data-content);
  position: absolute;
  top: -200%;
  left: 0;
  color: var(--green);
  font-weight: 800;
}

.input__field--chisato:focus,
.input--filled .input__field--chisato {
  border-color: var(--green);
}

.input__field--chisato:focus + .input__label--chisato,
.input--filled .input__label--chisato {
  -webkit-animation: anim-chisato-1 0.25s forwards;
  animation: anim-chisato-1 0.25s forwards;
}

.input__field--chisato:focus + .input__label--chisato .input__label-content--chisato,
.input--filled .input__label-content--chisato {
  -webkit-animation: anim-chisato-2 0.25s forwards ease-in;
  animation: anim-chisato-2 0.25s forwards ease-in;
}

@-webkit-keyframes anim-chisato-1 {
  0%, 70% {
    -webkit-transform: translate3d(0, 3em, 0);
    transform: translate3d(0, 3em, 0);
  }
  71%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes anim-chisato-2 {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  70%, 71% {
    -webkit-transform: translate3d(0, 125%, 0);
    transform: translate3d(0, 125%, 0);
    opacity: 0;
    -webkit-animation-timing-function: ease-out;
  }
  100% {
    color: transparent;
    -webkit-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0);
  }
}

@keyframes anim-chisato-1 {
  0%, 70% {
    -webkit-transform: translate3d(0, 3em, 0);
    transform: translate3d(0, 3em, 0);
  }
  71%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes anim-chisato-2 {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  70%, 71% {
    -webkit-transform: translate3d(0, 125%, 0);
    transform: translate3d(0, 125%, 0);
    opacity: 0;
    -webkit-animation-timing-function: ease-out;
  }
  100% {
    color: transparent;
    -webkit-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0);
  }
}