.intro-page {
  height: calc(100vh - 50px);
  margin-top: 50px;
  background-color: #221c5a;
  background-image: url("../images/demo-images/111.jpg");
  background-repeat: repeat;
  background-position: center top;
  background-size: cover;

  .img-logo {
    width: 10vw;
    min-width: 150px;
  }
}

.hakkimizda {
  .section-top {
    background-color: $synergy;
    height: 100%;

    .image-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      height: inherit;
    }

    img {
      max-width: 100%;
      max-height: 300px;
    }
  }

  .section-bottom {
    padding: 1rem;
    background-color: whitesmoke;
  }
}

.beam {
  margin-bottom: 1rem;

  .section-top {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $beam;

    .image-wrapper {
      display: flex;
      align-items: center;
      height: 300px;
      min-height: 200px;

      img {
        width: 100%;
      }
    }
  }

  .section-bottom {
    padding: 1rem;
    height: 100%;
    background-color: whitesmoke;
    //padding: 1rem;
  }
}

.eba {
  margin-bottom: 1rem;

  .section-top {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $eba;

    img {
      width: 300px;
    }
  }

  .section-bottom {
    height: 100%;
    background-color: whitesmoke;
    padding: 1rem;
  }
}

.qdms-section {
  margin-bottom: 1rem;

  .section-top {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $qdms;

    img {
      height: 300px;
      min-height: 200px;
    }
  }

  .section-bottom {
    height: 100%;
    padding: 1rem;
    background-color: whitesmoke;
  }
}

.ensemble {
  .section-top {
    background-color: $ensemble;

    img {
      width: 450px;
    }
  }

  .section-bottom {
    padding: 1rem;
    height: 100%;
    background-color: whitesmoke;
  }
}

.kullanim {
  margin-top: 1rem;

  .section-top {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $turkuaz;

    img {
      width: 450px;
    }
  }

  .section-bottom {
    padding: 1rem;
    height: 100%;
    background-color: whitesmoke;
  }
}

.contact {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;

  h4 {
    margin-bottom: 2rem;
  }

  .form-control {
    margin-bottom: 1rem;
  }

  .contact-form {
    .checks-wrapper {
      display: flex;
      flex-wrap: wrap;

      label {
        width: max-content;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;

        input {
          margin-right: 0.5rem;
        }
      }
    }
  }

  .firma-infos {
    //border: 3px solid lime;
  }
}

.frame-wrapper {
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  background-color: #eee;
  border: 1px solid #808080;
}

.envanter-tab-wrapper {
  //display: flex;
  //margin-bottom: 1rem;

  .envanter-tab {
    width: 100%;
    text-align: center;
    border-bottom: 3px solid $turkuaz2;
    margin-right: 1rem;

    &:hover {
      border-color: $synergy;
    }

    &.active {
      &.eba-tab {
        border-color: $eba;
      }

      &.beam-tab {
        border-color: $beam;
      }

      &.qdms-tab {
        border-color: $qdms;

      }

      &.ensemble-tab {
        border-color: $ensemble;
      }
    }
  }
}

.anasayfa-carousel {
  display: none;
}

.envanter-carousel {
  .item {
    .img-side {
      .img-wrapper {
        width: calc(100% - 4px);
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;

        &.eba {
          background-color: $eba;
        }

        &.beam {
          background-color: $beam;
        }

        &.qdms {
          background-color: $qdms;
        }

        &.ensemble {
          background-color: $ensemble;
        }
      }
    }
  }
}
