$title-color: #468ac7;
$title-color2: #23214c;
$siyah: #2b2b2b;
$white: #ffffff;
$green: #32DB8A;

$qdms: #770B45;
$eba: #F49402;
$beam: #EC0D2C;
$ensemble: #099C96;
$synergy: #1A213D;
$turkuaz: #5DBCD2;
$ebaPage: #ffdda3;
$turkuaz2: #94ddee;

*{
  font-family: 'Poppins', sans-serif;
}

.container-fluid{
  max-width: 1600px;
}

.btn-check:focus + .btn, .btn:focus {
  box-shadow: none !important;
}

.form-control {
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

.title-h1 {
  //color: $title-color;
  font-family: "Montserrat", sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -1px;
}

.title-h3 {
  //font-size: 40px;
}

//.nav-item{
//  a.nav-link{
//    &:focus{
//      //color: red;
//    }
//  }
//}

.custom-btn {
  border: 1px solid transparent;
  background-color: whitesmoke;
  font-weight: 500;
  border-radius: 10px;
  letter-spacing: 1px;

  &:hover{
    color: limegreen;
    background-color: white;
    border-color: whitesmoke;
  }
}


