@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
html,
body {
  height: 100%; }

body {
  font-family: "Abel", sans-serif;
  font-weight: 400; }

.main {
  min-height: 100%; }

.f-password .container {
  background-color: #1E202C;
  border-radius: 20px;
  margin-top: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 3rem;
  min-height: 550px; }
  .f-password .container .login-box .card {
    border-radius: 20px;
    background-color: #2A2B37; }
    .f-password .container .login-box .card .card-body {
      background-color: #2A2B37;
      padding: 2rem;
      border-radius: 20px; }
      .f-password .container .login-box .card .card-body .login-box-msg {
        color: #fff; }
      .f-password .container .login-box .card .card-body .login-box-msg {
        color: #fff; }
      .f-password .container .login-box .card .card-body input.form-control {
        background-color: #2A2B37;
        color: #fff;
        border-color: #797A82;
        box-shadow: none; }
        .f-password .container .login-box .card .card-body input.form-control::-webkit-input-placeholder {
          color: #fff; }
        .f-password .container .login-box .card .card-body input.form-control::placeholder {
          color: #fff; }
      .f-password .container .login-box .card .card-body .input-group-append .input-group-text {
        border-color: #797A82; }